---
---

$caption-color: #bdbdbd;

$font-color: #444;
$font-color-light: #666;

$footer-background-color: #f5f5f5;
$footer-foreground-color: #6f6f6f;

$note-border-color: #84a0bc;

$theme-background-color: #e8f2fc;
$theme-border-color: rgb(37 57 81 / 15%);
$theme-link-color: rgb(145 193 241 / 35%);
$theme-foreground-color: #253951;

$white: white;

@import "base", "layout", "syntax-highlighting";
