.squeeze {
    margin: 0 auto;
    max-width: 550px;
    padding: 0 30px;
}

.roll {
    padding: 0;
    margin: 0;
}

.roll-item {
    list-style: none;
    margin-bottom: 15px;
}

.roll-item .meta {
    color: #666666;
    display: inline-block;
    float: right;
    margin-right: 15px;
    min-width: 100px;
}

.post-header {
    background-color: #E8F2FC;
    padding: 30px 0;
}

.post-header h1 {
    margin-bottom: 0;
}

.post-header .time {
    color: #666666;
    margin-bottom: 10px;
}

.post-header .tag {
    background-color: #253951;
    border: 1px solid #444444;
    color: #FFFFFF;
    border-radius: 999em;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    padding: 0 15px;
}

.site-title {
    border-bottom: 1px solid rgba(37,57,81,0.15);
    padding: 15px 0;
}

.home-intro a{
    text-decoration: underline;
}

.tag-roll {
    margin-bottom: 25px;
}

.note {
    background-color: #e8f2fc;
    border: 1px solid #84a0bc;
    border-radius: 3px;
    color: #253951;
    font-size: 15px;
    padding: 6px 10px;
}

.note code {
    background-color: #fff;
    border: unset;
}

.roll a {
    text-decoration: none;
}

.caption {
    color: #bdbdbd;
    font-size: 14px;
    text-align: center;
}
