.footnotes {
  border-top: 1px solid $footer-foreground-color;
  color: $footer-foreground-color;
  font-size: 14px;
  margin-top: 30px;
  padding-top: 30px;

  > ol {
    counter-reset: foo;
    display: table;

    > li {
      counter-increment: foo;
      display: table-row;

      &::before {
        content: counter(foo) ".";
        display: table-cell;
        padding-right: 10px;
        text-align: right;
      }
    }
  }
}

.squeeze {
  margin: 0 auto;
  max-width: 550px;
  padding: 0 30px;
}

.post-header {
  background-color: $theme-background-color;
  padding: 30px 0;

  a {
    text-decoration: underline;
  }

  h1 {
    margin-bottom: 0;
  }

  .tag {
    background-color: $theme-foreground-color;
    border: 1px solid $font-color;
    border-radius: 999em;
    color: $white;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    padding: 0 15px;
  }

  .time {
    color: $font-color-light;
    margin-bottom: 10px;
  }
}

.tag a {
  text-decoration: none;
}

.home-intro a {
  text-decoration: underline;
}

.roll {
  margin: 0;
  padding: 0;

  a {
    background: none;
    text-decoration: none;
  }

  a:hover {
    background: none;
  }
}

.roll-item {
  list-style: none;
  margin-bottom: 15px;

  .meta {
    color: $font-color-light;
    display: inline-block;
    float: right;
    margin-left: 15px;
    min-width: 100px;
  }
}

.site-title {
  border-bottom: 1px solid $theme-border-color;
  padding: 15px 0;
}

.tag-roll {
  margin-bottom: 25px;
}

.note {
  background-color: $theme-background-color;
  border: 1px solid $note-border-color;
  border-radius: 3px;
  color: $theme-foreground-color;
  font-size: 15px;
  padding: 6px 10px;

  code {
    background-color: $white;
    border: unset;
  }
}

.caption {
  color: $caption-color;
  font-size: 14px;
  text-align: center;
}
