.footnotes {
    padding-top: 30px;
    margin-top: 30px;
    font-size: 14px;
    color: #6f6f6f;
    border-top: 1px solid #f5f5f5;
}

.footnotes > ol {
    display: table;
    counter-reset: foo;
}

.footnotes > ol > li {
    display: table-row;
    counter-increment: foo;
}

.footnotes > ol > li::before {
    display: table-cell;
    padding-right: 10px;
    text-align: right;
    content: counter(foo) ".";
}

.squeeze {
    max-width: 550px;
    padding: 0 30px;
    margin: 0 auto;
}

.roll {
    padding: 0;
    margin: 0;
}

.post-header a {
    text-decoration: underline;
}

.tag a {
    text-decoration: none;
}

.roll-item {
    margin-bottom: 15px;
    list-style: none;
}

.roll-item .meta {
    display: inline-block;
    float: right;
    min-width: 100px;
    margin-left: 15px;
    color: #666;
}

.post-header {
    padding: 30px 0;
    background-color: #e8f2fc;
}

.post-header h1 {
    margin-bottom: 0;
}

.post-header .time {
    margin-bottom: 10px;
    color: #666;
}

.post-header .tag {
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    line-height: 2;
    color: #fff;
    background-color: #253951;
    border: 1px solid #444;
    border-radius: 999em;
}

.site-title {
    padding: 15px 0;
    border-bottom: 1px solid rgba(37, 57, 81, 0.15);
}

.home-intro a {
    text-decoration: underline;
}

.tag-roll {
    margin-bottom: 25px;
}

.roll a {
    text-decoration: none;
    background: none;
}

.roll a:hover {
    background: none;
}

.note {
    padding: 6px 10px;
    font-size: 15px;
    color: #253951;
    background-color: #e8f2fc;
    border: 1px solid #84a0bc;
    border-radius: 3px;
}

.note code {
    background-color: #fff;
    border: unset;
}

.caption {
    font-size: 14px;
    color: #bdbdbd;
    text-align: center;
}
